body {
  position: relative;
  height: 100vh;
}

.navbar {
  border-radius: 0;
}

.upper-bar {
  background-color: #fff;
  padding: 15px;
}

h1 {
  color: #ccc;
  font-size: 60px;
  margin-bottom: 20px;
}

.login-page form {
  max-width: 380px;
  margin: auto;
}

.login-page span {
  cursor: pointer;
}

.login-page form span:hover {
  cursor: pointer;
}

.login-page form input {
  margin-bottom: 10px;
}

.profile-link {
  color: #337ab7 !important;
}

.edit h2 {
  margin-bottom: 15px;
}

.edit .form-edit {
  max-width: 400px;
  margin: auto;
}

.form-group {
  position: relative;
}

form i {
  position: absolute;
  top: 10px;
  right: 17px;
}

.information ul {
  padding: 0;
  margin: 0;
}

.information ul li {
  padding: 10px;
}

.information ul li:nth-child(odd) {
  background-color: #eee;
}

.information ul li span {
  display: inline-block;
  width: 130px;
}

.information ul i {
  padding: 10px;
}

#event-item {
  background-color: #74BEDB;
  margin: 5px;
  border-radius: 5px;
  /*border: solid black 1px;*/
}

.events-grid {
  margin: auto;
  align-items: center;
  justify-content: space-around;
}

