* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  position: relative;
  height: 2000px;
}

strong {
  display: block;
}

.navbar {
  border-radius: 0;
}

.btn-login {
  border: 1px solid #337ab7;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 5px;
  transition: all 0.4s ease-in-out;
}

.btn-login:hover {
  border: 1px solid #f4f4f4;
  background-color: #337ab7;
  color: #f4f4f4;
}

.upper-bar {
  background-color: #fff;
  padding: 15px;
}

.custom-hr {
  border-top: 1px solid #c9c9c9;
}

h1 {
  color: #ccc;
  font-size: 60px;
  margin-bottom: 20px;
}

.login-page form {
  max-width: 380px;
  margin: auto;
}

.login-page span {
  cursor: pointer;
}

.login-page form span:hover {
  cursor: pointer;
}

.login-page form input {
  margin-bottom: 10px;
}

.profile-link {
  color: #337ab7 !important;
}

.img-profile {
  position: relative;
}

.img-profile img {
  position: absolute;
  border-radius: 50%;
  bottom: -19px;
  left: 0px;
}

.edit h2 {
  margin-bottom: 15px;
}

.edit .form-edit {
  max-width: 400px;
  margin: auto;
}

.form-group {
  position: relative;
}

form i {
  position: absolute;
  top: 10px;
  right: 17px;
}

.information ul {
  padding: 0;
  margin: 0;
}

.information ul li {
  padding: 10px;
}

.information ul li:nth-child(odd) {
  background-color: #eee;
}

.information ul li span {
  display: inline-block;
  width: 130px;
}

.information ul i {
  padding: 10px;
}

.events-grid {
  margin: auto;
  align-items: center;
  justify-content: space-around;
}

.img-container img {
  height: 100%;
  width: 100%;
}

.event {
  border: 1px solid rgba(0, 0, 0, 0.5);
  margin-bottom: 40px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
  position: relative;
  min-height: 430px;
}

.border-style::before {
  position: absolute;
  display: block;
  content: "";
  top: 10px;
  left: 10px;
  width: 0;
  height: 0;
  border: 3px solid transparent;
  border-right: none;
  border-bottom: none;
  transition: all 0.5s ease-in-out;
}

.border-style::after {
  position: absolute;
  display: block;
  content: "";
  right: 10px;
  bottom: 10px;
  width: 0;
  height: 0;
  border: 3px solid transparent;
  border-left: none;
  border-top: none;
  transition: all 0.5s ease-in-out;
}

.border-style:hover::before {
  width: 94%;
  height: 95.5%;
  border-color: #5bc0de;
}

.border-style:hover::after {
  width: 94%;
  height: 96%;
  border-color: #5bc0de;
}

.over {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 0;
  z-index: 5;
  background-color: rgba(0, 0, 0, 0.3);
  transition: height 0.6s ease-in-out;
  display: flex !important;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  opacity: 0;
  color: #fff;
}

.event:hover .over {
  height: 100%;
  opacity: 1;
}

.info-event {
  padding: 30px !important;
}

.info-event li {
  margin-bottom: 5px;
}

.info-event .author {
  color: #9a9090;
}

.img-event img {
  width: 400px;
  height: 400px;
}

/*Style commentaire*/

.add-comment h3 {
  margin: 0;
  padding: 20px 0;
}

.add-comment textarea {
  display: block;
  margin-bottom: 10px;
  width: 400px;
  height: 120px;
}

ul span,
ul i {
  color: #337ab7;
  font-weight: bold;
}

.imgprofil {
  height: 100px;
  max-width: 100px;
  margin-bottom: 10px;
}

.comment-box {
  margin-bottom: 15px;
}

.comment-box .lead {
  background-color: #74b9ff;
  position: relative;
  padding: 10px 20px;
  margin-top: 25px;
}

.comment-box .lead:before {
  content: "";
  width: 0;
  height: 0;
  border: 5px solid red;
  border-style: solid;
  border-width: 15px;
  border-color: transparent #74b9ff transparent transparent;
  position: absolute;
  left: -28px;
  top: 10px;
}

.dropdown-menu > li > a {
  display: block;
  padding: 6px 20px;
  clear: both;
  font-weight: 300;
  line-height: 1.42857143;

  white-space: nowrap;
  transition: all 0.5s ease-in;
}

.dropdown-menu li a:hover {
  margin-left: 3px;
  background-color: rgba(0, 0, 0, 0.1);
}

.navbar-nav > li > .dropdown-menu {
  background-color: #337ab7;
}
