body {
  position: relative;
  height: 100vh;
}
.upper-bar {
  background-color: #fff;
  padding: 15px;
}

h1 {
  color: #ccc;
  font-size: 60px;
  margin-bottom: 20px;
}

.login-page form {
  max-width: 380px;
  margin: auto;
}

.login-page form span:hover {
  cursor: pointer;
}

.login-page form input {
  margin-bottom: 10px;
}

#event-item {
  background-color: #74BEDB;
  margin: 5px;
  border-radius: 5px;
  /*border: solid black 1px;*/
}

.events-grid {
  margin: auto;
  align-items: center;
  justify-content: space-around;
}